<ion-content [fullscreen]="true">
<nav>
  <ion-icon size="large" name="cart-outline" (click)="redirectToCart()"></ion-icon>
</nav>
<p  class="ion-text-end" id="address-title" *ngIf="address$ | async as address">at 
  {{ address.city_district }}, {{ address.state }}
</p>
<header id="first-header"></header>
<h1 class="ion-text-center" id="section-title">Items</h1>
<section>
  <ng-container *ngFor="let item of items">
    <ion-card class="card-item" (click)="previewModal(item)">
      <img src="{{item.img}}" alt="">
      <span>{{item.title}}</span>
      <span>R$ {{item.value}}</span>
    </ion-card>
  </ng-container>
</section>
</ion-content>
